// primary colors
// naming convention based on position in color wheel
// 30 - 210: warm - mid - cool
// 210 - 30: cool - mid - warm
$c-red-m-300: 0 100% 67%;
$c-orange-400: 39 100% 56%;
$c-cyan-c-600: 166 100% 37%;
$c-blue-c-500: 234 85% 45%;

// neutral colors
$c-blue-m-300: 252 100% 67%;
$c-blue-m-400: 241 81% 54%;
$c-blue-w-500: 256 72% 46% / 1;
$c-blue-m-500: 241 72% 46% / 0;

$c-white-000: 0 0% 100%;
$c-blue-cyan-000: 221 100% 96%;
$c-blue-m-100: 241 100% 89%;
$c-blue-cyan-700: 224 30% 27%;

// Color map for generating color utility classes
$utility-color: (
  "red": (
    "m-300": $c-red-m-300,
  ),
  "orange": (
    "400": $c-orange-400,
  ),
  "cyan": (
    "c-600": $c-cyan-c-600,
  ),
  "blue-cyan": (
    "000": $c-blue-cyan-000,
    "700": $c-blue-cyan-700,
  ),
  "blue": (
    "c-500": $c-blue-c-500,
    "m-300": $c-blue-m-300,
    "m-100": $c-blue-m-100,
    "m-400": $c-blue-m-400,
    "m-500": $c-blue-m-500,
    "w-500": $c-blue-w-500,
  ),
  "white": (
    "000": $c-white-000,
  ),
);

// Color map for generating custom color properties
$contextual-color: (
  "color": (
    "body": $c-blue-m-100,
    "button": $c-white-000,
    "score": $c-white-000,
    "reaction": $c-red-m-300,
    "memory": $c-orange-400,
    "verbal": $c-cyan-c-600,
    "visual": $c-blue-c-500,
  ),
  "background-color": ( 
    "body": $c-blue-cyan-000,
    "card": $c-white-000,
    "button": $c-blue-cyan-700,
  ),
  "background-image": (
    "score-from": $c-blue-m-300,
    "score-to": $c-blue-m-400,
  ),
);

// Theme map for generating theme classes
$theme-color: (
  "dark": (
    "color": (
    ),
    "background-color": (
    ),
  ),
  "light": (
    "color": (
    ),
    "background-color": (
    ),
  ),
);
