@use "sizes" as *;

// Contextual font properties
$-ff-hanken-grotesk: #{"\"Hanken Grotesk\", sans-serif"};

// Default font weights
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-heavy: 900;

// Font map for generating font utility classes
$utility-font: (
    "family": (
        "hanken-grotesk": $-ff-hanken-grotesk,
    ),
);

// Font map for generating custom font properties
$contextual-font: (
    "family": (
        "body": $-ff-hanken-grotesk,
    ),
    "size": (
        "body": 1.125rem,
        "h1": 2rem,
        "h2": 1.25rem,
        "score": 4rem,
    ),
    "weight": (
        "body": $font-weight-medium,
        "heading": $font-weight-bold,
        "score": $font-weight-extra-bold,
    ),
);