@use "./abstracts/" as *;
@use "./base/" as *;
@use "./components/" as *;
@use "./layout/" as *;
@use "./utilities/" as *;

.card__left {
    --gap: 1rem;

    @include grid(center, null, var(--gap));

    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    text-align: center;
    background-image: linear-gradient(to bottom, hsl(var(--bgi-score-from)), hsl(var(--bgi-score-to)));

    p:nth-of-type(1) {
        font: {
            weight: var(--fw-heading);
            size: 1.125rem;
        }
        line-height: 1.1;
            color: hsl(var(--c-score));
    }
}

.score {
    @include grid;

    place-content: center;
    width: 10rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: linear-gradient(to top, hsl(var(--bgi-score-from)), hsl(var(--bgi-score-to))); 

    span:first-child {
        display: block;
        font: {
            weight: var(--fw-score);
            size: var(--fs-score);
        }
        line-height: 1.1;
        color: hsl(var(--c-score));
    }
}

.card__right {
    --spacing: 2rem;

    @include grid(null, null, var(--spacing));

    padding: var(--spacing);
}

.results {
    @include grid;

    gap: 1rem;
}

.results__item {
    --alpha-skill: 0.1;
    --_c-skill: var(--c-skill, inherit);
    --_bgc-result-item: var(--bgc-result-item, inherit);
    
    @include flex(null, space-between, center);

    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: hsl(var(--_bgc-result-item));

    &--reaction {
        --c-skill: var(--c-reaction);
        --bgc-result-item: var(--c-reaction) / var(--alpha-skill);
    }
    
    &--memory {
        --c-skill: var(--c-memory);
        --bgc-result-item: var(--c-memory) / var(--alpha-skill);
    } 

    &--verbal {
        --c-skill: var(--c-verbal);
        --bgc-result-item: var(--c-verbal) / var(--alpha-skill);
    }

    &--visual {
        --c-skill: var(--c-visual);
        --bgc-result-item: var(--c-visual) / var(--alpha-skill);         
    }
}

.skill {
    @include flex(null, null, center, 1rem);    

    color: hsl(var(--_c-skill));
}

.points {
    font: {
        weight: var(--fw-heading);
    }
    color: hsl(var(--c-score-summary));
}

.points__container {
    color: hsl(var(--c-score-max));
}

.button {
    padding: 1rem;
    border-radius: 2rem;

    &:hover {
        background-image: linear-gradient(to bottom, hsl(var(--bgi-score-from)), hsl(var(--bgi-score-to)));
    }
}